<!DOCTYPE html>
<html>
<head>
	{% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>MY PROFILE</title>
    <!-- web-fonts -->
    <link href="https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet">

    <!-- font-awesome -->
    <link rel="stylesheet" href= "{% static 'css/font-awesome.min.css' %}">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Style CSS -->
    <link  rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

{% include "navbar.html" %}

<div id="main-wrapper">
<!-- Page Preloader -->
<div id="preloader">
    <div id="status">
        <div class="status-mes"></div>
    </div>
</div>


<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="profile-img">
                    <a href ="{% url 'extra' %}"> <img src="{% static 'img/img-profile.jpg' %}" class="img-responsive" alt=""/> </a>
                </div>
                <!-- Profile Image -->
            </div>
            <div class="col-md-9">
                <div class="name-wrapper">
                    <h1 class="name">Ariq Rahmatullah</h1>
                    <span>University Student</span>
                </div>
                <p>
                    The FitnessGram™ Pacer Test is a multistage aerobic capacity test that
					progressively gets more difficult as it continues. The 20 meter pacer test
					will begin in 30 seconds. Line up at the start. The running speed starts slowly,
					but gets faster each minute after you hear this signal. [beep] A single lap should be
					completed each time you hear this sound. [ding] Remember to run in a straight line,
					and run as long as possible. The second time you fail to complete a lap before the sound,
					your test is over. The test will begin on the word start. On your mark, get ready, start.
                </p>


                <div class="row">
                    <div class="col-md-3">
                        <div class="personal-details">
                            <strong>JUNE 1, 2001</strong>
                            <small>BIRTH</small>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="personal-details">
                            <strong>INDONESIA</strong>
                            <small>NATIONALITY</small>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="personal-details">
                            <strong>BAHASA INDONESIA <span>(NATIVE)</span>, ENGLISH <span>(INTERMEDIATE)</span>, JAPANESE <span> (BASIC) </span></strong>
                            <small>LANGUAGE</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- .header-->

<section class="expertise-wrapper section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-title">
                    <h2>My Skills</h2>
                </div>
            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        <div class="expertise-item">
                            <h3>Jack of All Trades, Master of None</h3>

                            <p>
                                This is just a fancy way to say I dont have any skills to begin with. 
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="expertise-item">
                            <h3>I have no skills, pls send help </h3>

                            <p>
                                It's actually mean the same as the first one. Send help
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="expertise-item">
                            <h3>MONKE</h3>

                            <p>
                                Reject modernity, back to monky.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="expertise-item">
                            <h3>Drawing</h3>

                            <p>
                                Nah i'm joking. I'm bad at drawing. I genuinely need help lmao 
							</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- .row -->


    </div>
</section>
<!-- .expertise-wrapper -->

<section class="section-wrapper section-experience">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-title"><h2>Work Experience</h2></div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        <div class="content-item">
                            <small>2018 - Present</small>
                            <h3>Producer</h3>
                            <h4>283 Production</h4>

                            <p>Japan, Tokyo - Akihabara</p>
                        </div>
                        <!-- .experience-item -->
                    </div>
                    <div class="col-md-6">
                        <div class="content-item">
                            <small>2019 - Present</small>
                            <h3>Producer</h3>
                            <h4>765 Production</h4>

                            <p>Japan, Tokyo - Yaguchi </p>
                        </div>
                        <!-- .experience-item -->
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-6">
                        <div class="content-item">
                            <small>2015 - Present</small>
                            <h3>Producer</h3>
                            <h4>346 Production</h4>

                            <p>Japan, Tokyo - Shibuya</p>
                        </div>
                        <!-- .experience-item -->
                    </div>
                </div>
            </div>
            <!--.row-->
        </div>
    </div>
    <!-- .container -->
</section>
<!-- .section-experience -->

<section class="section-education section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-title"><h2>Education</h2></div>
            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <div class="content-item">
                            <small>2018 - Present</small>
                            <h3>University Student</h3>
                            <h4>Universitas Indonesia</h4>

                            <p>Depok, Indonesia</p>
                        </div>
                        <!-- .experience-item -->
                        <div class="content-item">
                            <small>2015-2018</small>
                            <h3>Student</h3>
                            <h4>SMAN 2 Kota Tangerang</h4>

                            <p>Tangerang, Indonesia</p>
                        </div>
                        <!-- .experience-item -->
                    </div>
                </div>
                <!--.row-->
            </div>

        </div>
        <!--.row-->
    </div>
    <!-- .container -->
</section>
<!-- .section-education -->

<section class="section-wrapper photos-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-title">
                    <h2>photos</h2>
                </div>
            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <a class="photos-item" href="https://gundam.fandom.com/wiki/Char_Aznable">
                            <div class="photos-thumb">
                                <img src="{% static 'img/photos-1.jpg' %}" alt="">
                            </div>

                            <div class="photos-info">
                                <h3>SIEG ZEON</h3>
                            </div>
                            <!-- photos-info -->
                        </a>
                        <!-- .photos-item -->
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <a class="photos-item" href="https://gundam.fandom.com/wiki/Char_Aznable">
                            <div class="photos-thumb">
                                <img src="{% static 'img/photos-2.jpg' %}" alt="">
                            </div>

                            <div class="photos-info">
                                <h3>SIEG ZEON</h3>
                            </div>
                            <!-- photos-info -->
                        </a>
                        <!-- .photos-item -->
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <a class="photos-item" href="https://gundam.fandom.com/wiki/Char_Aznable">
                            <div class="photos-thumb">
                                <img src="{% static 'img/photos-3.jpg' %}" alt="">
                            </div>

                            <div class="photos-info">
                                <h3>SIEG ZEON</h3>
                            </div>
                            <!-- photos-info -->
                        </a>
                        <!-- .photos-item -->
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <a class="photos-item" href="https://gundam.fandom.com/wiki/Char_Aznable">
                            <div class="photos-thumb">
                                <img src="{% static 'img/photos-4.jpg' %}" alt="">
                            </div>

                            <div class="photos-info">
                                <h3>SIEG ZEON</h3>
                            </div>
                            <!-- photos-info -->
                        </a>
                        <!-- .photos-item -->
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <a class="photos-item" href="https://gundam.fandom.com/wiki/Char_Aznable">
                            <div class="photos-thumb">
                                <img src="{% static 'img/photos-5.jpg' %}" alt="">
                            </div>

                            <div class="photos-info">
                                <h3>SIEG ZEON</h3>
                            </div>
                            <!-- photos-info -->
                        </a>
                        <!-- .photos-item -->
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <a class="photos-item" href="https://gundam.fandom.com/wiki/Char_Aznable">
                            <div class="photos-thumb">
                                <img src="{% static 'img/photos-6.jpg' %}" alt="">
                            </div>

                            <div class="photos-info">
                                <h3>SIEG ZEON</h3>
                            </div>
                            <!-- photos-info -->
                        </a>
                        <!-- .photos-item -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
</section>
<!-- .photos -->

<section class="section-contact section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-title">
                    <h2>Contact</h2>
                </div>
            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-3">
                        <address>
                            <strong>Address</strong><br>
                            Pondok Bukit Pisang<br>
                            Kukusan, Depok 
                        </address>
                    </div>
                    <div class="col-md-3">
                        <address>
                            <strong>Phone Number</strong><br>
                            +62 82112649095
                        </address>
                    </div>
                    <div class="col-md-3">
                        <address>
                            <strong>LINE</strong><br>
                            ariqrahm
                        </address>
                    </div>
                    <div class="col-md-3">
                        <address>
                            <strong>Email</strong><br>
                            ariqrahm@gmail.com 
                        </address>
                    </div>

                </div>
                <!--.row-->
            </div>
        </div>
        <!--.row-->

    </div>
    <!--.container-fluid-->
</section>
<!--.section-contact-->

</div>
<!-- #main-wrapper -->

<!-- jquery -->
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!--theme script-->
<script src=" {% static 'js/scripts.js' %}"></script>
</body>
</html>