<!DOCTYPE html>
<html>
<head>
	{% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>MY PROFILE</title>
    <!-- web-fonts -->
    <link href="https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet">

    <!-- font-awesome -->
    <link rel="stylesheet" href= "{% static 'css/font-awesome.min.css' %}">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Style CSS -->
    <link  rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

{% include "navbar.html" %}
<div id="main-wrapper">
<!-- Page Preloader -->
<div id="preloader">
    <div id="status">
        <div class="status-mes"></div>
    </div>
</div>

<div class="container-fluid">
        <div class="row">
            <div class="col-sm-3"><h2>Subject</h2></div>
            <div class="col-sm-3"><h2>Lecturer</h2></div>
            <div class="col-sm-3"><h2>SKS</h2></div>
            <div class="col-sm-3"><h2>Academic Year</h2></div>
            <div class="col-sm-3"><h2>Class</h2></div>
            <div class="col-sm-3"><h2>Description</h2></div>
        </div>

        {% for matkul in matkuls %}
        <div class="row">
            <div class="col-5">{{ matkul.subject }}</div>
            <div class="col-5">{{ matkul.lecturer }}</div>
            <div class="col-5">{{ matkul.sks }}</div>
            <div class="col-5">{{ matkul.year }}</div>
            <div class="col-5">{{ matkul.room }}</div>
            <div class="col-5">{{ matkul.desc }}</div>
        </div>
        {% endfor %}
</div>




<!-- jquery -->
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!--theme script-->
<script src=" {% static 'js/scripts.js' %}"></script>
</body>
</html>