<!DOCTYPE html>
<html>
<head>
	{% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>MY PROFILE</title>
    <!-- web-fonts -->
    <link href="https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet">

    <!-- font-awesome -->
    <link rel="stylesheet" href= "{% static 'css/font-awesome.min.css' %}">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Style CSS -->
    <link  rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div id="main-wrapper">
<!-- Page Preloader -->
<div id="preloader">
    <div id="status">
        <div class="status-mes"></div>
    </div>
</div>

{% include "navbar.html" %}
<section class="expertise-wrapper section-wrapper">
<div class="container">
        <div class="row">
            <div class="col">
                <h2>
                    <p>
                        Submit a subject with form below
                    </p>
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <form action="save/" method="POST">
                    <div class="form-group">
                        {% csrf_token %}

                        {{ create_matkul_form }}
                    </div>
                    <button type="submit" class="btn btn-light">Save</button>
                </form>
            </div>
        </div>
</div>
</section>
<section class="expertise-wrapper section-wrapper">
<div class="container">
        <div class="row">
            <div class="col">
                <h2>
                    <p>
                        Delete existing subject
                    </p>
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <form action="delete/" method="POST">
                    <div class="form-group">
                        {% csrf_token %}

                        {{ delete_matkul_form }}
                    </div>
                    <button type="submit" class="btn btn-light">Delete</button>
                </form>
            </div>
        </div>

</div>
</section>



<!-- jquery -->
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!--theme script-->
<script src=" {% static 'js/scripts.js' %}"></script>
</body>
</html>