<!DOCTYPE html>
<html>
<head>
	{% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>MY PROFILE</title>
    <!-- web-fonts -->
    <link href="https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet">

    <!-- font-awesome -->
    <link rel="stylesheet" href= "{% static "css/font-awesome.min.css" %}">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">

    <!-- Style CSS -->
    <link  rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
<div id="main-wrapper">
<!-- Page Preloader -->
<div id="preloader">
    <div id="status">
        <div class="status-mes"></div>
    </div>
</div>

{% include "navbar.html" %}


<header class="header">
	<div class = "col-md-6">
	<div class="mx-auto">
        <div class="name-wrapper">
            <h1 class="name">My Projects</h1
			 <span> Useless projects </span>
		</div>
	</div>
	</div>
</header>

<section class="expertise-wrapper section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-title">
                    <h2>My Projects</h2>
                </div>
            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        <div class="expertise-item">
                            <h3>Nothing</h3>

                            <p>
                                404 Not Found 
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="expertise-item">
                            <h3>Nothing </h3>

                            <p>
                                404 Not Found 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="expertise-item">
                            <h3>Nothing</h3>

                            <p>
                                404 Not Found 
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="expertise-item">
                            <h3>Nothing</h3>

                            <p>
                                404 Not Found 
							</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- .row -->


    </div>
</section>




<!-- jquery -->
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!--theme script-->
<script src=" {% static 'js/scripts.js' %}"></script>
</body>
</html>