<!DOCTYPE html>
<html>
<head>
	{% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>MY PROFILE</title>
    <!-- web-fonts -->
    <link href="https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet">

    <!-- font-awesome -->
    <link rel="stylesheet" href= "{% static 'css/font-awesome.min.css' %}">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Style CSS -->
    <link  rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
	<nav class="navbar navbar-inverse">
	<div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">My Profile</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{% url 'index' %}">Home</a></li>
	  <li><a href="{% url 'projects' %}">Projects</a></li>
	  <li><a href="{% url 'extra' %}">Extra</a></li>
	  <li><a href="{% url 'form' %}">Form</a></li>
	  <li><a href="{% url 'list' %}">List</a></li>
	  <li><a href="http://ariqrahm-story1.herokuapp.com/">Story-1</a></li>
	  

    </ul>
  </div>
	</nav>
	
<!-- jquery -->
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!--theme script-->
<script src=" {% static 'js/scripts.js' %}"></script>
</body>
</html>